<h1>Javascript &amp; jQuery Assessment Test</h1>
<div id="details">
		<p>This test is meant to help gauge your current skill level with basic front-end programming (with JavaScript), as well as test your CSS skills.</p> 
		<p>
				The test consists of 9 questions that total to 100 points.
				Your aim should be to score 80 or higher.
				There is also a bonus question worth 10 points as a part of question #4, and a bonus question for #8 worth another 10 points.
				Maximum score on this test is 120%.
		</p>

		<h2>Tips:</h2>
		<ul>
				<li>Use Chrome's DevTools (Console, etc)... It is your friend. </li>
				<li>If you are struggling with a solution, move onto the next question</li>
				<li>There are numerous "correct" ways of solving <em>any</em> coding problem. Feel free to use online resources to help you come up with solutions.</li>
		</ul>

		<h2>Rules:</h2>
		<ul>
				<li>Follow the guidelines in the code about what part of each file you can update.</li>
				<li>Googling is allowed to help recall syntax, etc.</li>
				<li>The teachers floating about can help explain questions but not help you solve your coding issues or questions</li>
		</ul>

		<h2>List of Questions</h2>
		<p>9 questions; 120 points total (100 + 20 bonus):</p>
		<ul>
				<li><a href='/question/1'>Question #1</a> (10 points)</li>
				<li><a href='/question/2'>Question #2</a> (10 points)</li>
				<li><a href="/question/3">Question #3</a> (10 points)</li>
				<li><a href="/question/4">Question #4</a> (10 points + 10 bonus)</li>
				<li><a href="/question/5">Question #5</a> (10 points)</li>
				<li><a href="/question/6">Question #6</a> (10 points)</li>
				<li><a href="/question/7">Question #7</a> (10 points)</li>
				<li><a href="/question/8">Question #8</a> (15 points + 10 bonus)</li>
				<li><a href="/question/9">Question #9</a> (15 points)</li>
		</ul>
</div>
