<style>
	label {
		display: inline-block;
		width: 130px;
	}

	input[type="text"] {
		width: 350px;
		height: 30px;
		line-height: 27px;
		border: 1px solid grey;
		border-radius: 8px;
		padding: 0 5px;
		margin: 5px 0;
	}

	input[type="submit"] {
		background-color: #08c;
		padding: 10px 15px;
		border-radius: 4px;
		font-weight: bold;
		color: white;
		font-size: 1em;
	}
</style>	

<p>Validate the form according to the following criteria. It should not submit if all of the following criteria are not met. If at least one of the criteria is not met, an alert should pop up listing all the things that are wrong with the form.</p>
<p><strong>BONUS: (10 pts) </strong> Instead of having it alert the user, change the display of the boxes that are not correct. See <a href="http://getbootstrap.com/css/#forms-control-validation" target="_blank">how Bootstrap does it</a> as an example.</p>
<hr>
<h4>RULES:</h4>
<ul>
	<li>The name field should be at least five characters long.</li>
	<li>The e-mail field should at least contain an '@' symbol.</li>
	<li>The phone number field should have at least seven digits in it.</li>
	<li>The state field should be two uppercase letters.</li>
</ul>
<p>Edit the page source to begin.</p>

<div class="question">
	<form id="theForm">
		<label for="name">Name: </label>
		<input type="text" name="name" id="name" placeholder="Enter name..." required><br>

		<label for="email">E-Mail: </label>
		<input type="text" name="email" id="email" placeholder="Enter e-mail..." required><br>

		<label for="phone">Phone: </label>
		<input type="text" name="phone" id="phone" placeholder="Enter phone..." required><br>

		<label for="state">State/Province: </label>
		<input type="text" name="state" id="state" placeholder="Enter state or province..." required><br>

		<input type="submit" value="Submit">

	</form>
</div>
</div>

<script>

// http://www.the-art-of-web.com/html/html5-form-validation/

$(function() {
		/**** YOU MAY MODIFY THE CODE BELOW ****/
		
		$("#theForm").submit(function () {
			var message_1, message_2;
			the_name = theForm.elements["name"].value;
			the_email = theForm.elements["email"].value;
			
			the_phone = theForm.elements["phone"].value;

			the_state = theForm.elements["state"].value;
			
			// alert("Name: " + the_name + "; Email: " + the_email + " Phone; " + the_phone);

			if (the_name.length < 5) {
				message_1 = "The name you have entered is too short, should be at least 5 characters";
			}

			if (the_email.indexOf("@") < 0) {
				 message_2 = "The email you have enteres is invalid, should contain @";
			}

			alert(message_1 + " :: " + message_2 );



		});

		/**** STOP MODIFYING HERE. ****/
});

</script>
